@use "../../abstracts" as *;

.footer {
  display: flex;
  align-items: center;

  min-height: 250px;
  padding-top: $gap-x3;
  padding-bottom: $gap-x3;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }

  &__socials {
    position: relative; // для того щоб зявилась лінія під логотипом

    display: flex;
    flex-wrap: wrap; // дозволяємо перенос іконок
    justify-content: center;

    margin-bottom: $gap-x3; // для того щоб воно не зливалось з логотипом

    font-size: 2.25rem;

    padding: 0 $gap;  // Додаємо відступ для кращого вигляду при переносі

    gap: $gap-lg;
    gap: $gap;

    &::after {
      position: absolute;
      bottom: -$gap-lg;
      left: 50%;

      display: block;

      width: 75px;
      height: 2px;

      content: "";
      transform: translateX(-50%);

      background-color: rgba($color-white, 0.7); // колір лінії під логотипом
    }
  }

  &__social-item {
    // margin: 0 10px; // - видаляємо, бо використовуємо gap
    padding: 5px; // Додаємо padding для більшої площі натискання

    transition: color 0.3s ease;

    @include sm {
      font-size: 1.875rem; // зменшуємо розмір іконок на малих екранах
    }

    &:hover {
      color: $color-accent;
    }
  }

  &__slogan {
    text-align: center;

    &-first {
      display: block;

      margin-bottom: 5px;

      transform: translate(0.1em);
      letter-spacing: 0.33em;

      color: rgba($color-white, 0.5);

      font-weight: 300;
    }

    &-last {
      display: block;

      font-weight: 700;
    }
  }
}
